.businessPhone {
  padding: 2rem 12.5vw;
  padding-bottom: 6rem; 
  padding-top: 3rem; 
  background-color: $bg;
  margin-inline: auto;
  
  @include media-breakpoint-down(medium){
    padding: 2rem 5.5vw;
    padding-bottom: 5rem; 
    padding-top: 1.5rem; 
  }
}

.sec-container {
    gap: 1.2rem;
    flex-direction: row;
    @include media-breakpoint-down(medium){
        flex-direction: column;
        justify-content: center;
        place-items: center;
      }
  .left-text {
    .intro {
      font-size: 2rem;
      color: $orange;
      @include media-breakpoint-down(medium){
        text-align: center;
      font-size: 1.7rem;
      }
    }
    .title {
      font-size: 4rem;
      width: 55%;
      font-weight: 900;
      color: $darkViolet;
      margin-top: 0.4rem;
    @include media-breakpoint-down(medium){
        display: none;
      }
    }
  }
  .right-text {
    gap: 1rem;
    grid-template-rows: 162px 162px;
    grid-template-columns: 10.5vw 10.5vw 10.5vw;
    grid-area: 1 2 3 4 5 6;
    margin-right: -1.2rem;
    @include media-breakpoint-down(medium){
        margin-bottom: 5rem;
    }
    @include media-breakpoint-down(medium){
        grid-template-rows: 145px 145px;
        grid-template-columns: 15.5vw 15.5vw 15.5vw;
      }
    .txt {
      padding: 0.6rem;
      background-color: #fff;
      border-radius: 7px;
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.11);
    }
    .text {
      margin-top: 0.4rem;
      text-align: center;
      padding: 0.5rem;
      font-size: clamp(0.4rem, 1vw, 1rem);
      @include media-breakpoint-down(medium){
        font-size: clamp(0.6rem, 1vw, 1rem);
      }
      @include media-breakpoint-down(small){
        font-size: clamp(0.3rem, 1vw, 1rem);
      }
    }
    img{
        margin-top: .4rem;
        @include media-breakpoint-down(medium){
            width: 1.8rem;
          }
          
          @include media-breakpoint-down(small){
            width: 1.6rem;
          }
    }
    // .pub {

    // }
  }
 
}

.last{
    position: absolute;
    bottom: 5.1rem;
    right: 11vw;
    padding: 1.3rem;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.11);
    background: $gradient1;
    
    .text-top{
        font-size: 1.5rem;
        color: $lightOrange;
        font-weight: 600;
        @include media-breakpoint-down(medium){
            font-size: clamp(1.4rem, 1.5vw, 1.8rem);
          }
    }
    .text-btm{
        font-size: 1rem;
        color: $lightOrange;
        font-weight: 500;
        padding-top: .5rem;
         span a{
        text-decoration: none;
        font-weight: 700;
        color: #fff;
        &:hover{
            color: $darkViolet;
        }
    }
       
        @include media-breakpoint-down(medium){
            font-size: clamp(1rem, 1.4vw, 1rem);
          }
    }
    
    @include media-breakpoint-down(medium){
        bottom: 0;
        right: 0;
        left: 0;
    }
    @include media-breakpoint-down(small){
        bottom: 0;
        right: 0;
    }
}
